<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config/connection-info.properties"/>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 언더스코어 > 카멜케이스 매핑 -->
    </settings>

    <!-- 별칭 지정 -->
    <typeAliases>
        <typeAlias type="com.ohgiraffers.admin.classManager.model.dto.ClassDTO" alias="ClassDTO"/>
        <typeAlias type="com.ohgiraffers.admin.lectureManager.model.dto.LectureDTO" alias="LectureDTO"/>
        <typeAlias type="com.ohgiraffers.admin.professorManager.model.dto.ProfessorDTO" alias="ProfessorDTO"/>
        <typeAlias type="com.ohgiraffers.admin.studentManager.model.dto.StudentDTO" alias="StudentDTO"/>
        <typeAlias type="com.ohgiraffers.student.registManager.model.dto.RegistDTO" alias="RegistDTO"/>
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <!-- type : JDBC(수동 커밋) 또는 MANAGED(자동 커밋) 선택 -->
            <transactionManager type="JDBC"/>
            <!-- type : POOLED(커넥션풀 사용) 또는 UnPOOLED(커넥션풀 미사용) 선택 -->
            <dataSource type="POOLED">
                 <property name="driver" value="${driver}"/>
                 <property name="url" value="${url}"/>
                 <property name="username" value="${username}"/>
                 <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.ohgiraffers.admin.classManager.model.dao.ClassDAO"/>
        <mapper class="com.ohgiraffers.admin.lectureManager.model.dao.LectureDAO"/>
        <mapper class="com.ohgiraffers.admin.professorManager.model.dao.ProfessorDAO"/>
        <mapper class="com.ohgiraffers.admin.studentManager.model.dao.StudentDAO"/>
        <mapper class="com.ohgiraffers.student.registManager.model.dao.RegistDAO"/>
    </mappers>

</configuration>